{{>/layout/header}}
    <!-- 이미지 박스 시작 -->
    <div class="container">
        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMUtSCOmqsHgiyURBL5UOwsX4bI9mfXlEohQ&usqp=CAU" alt="Hosptial">
    </div>
    <!-- 이미지 박스 끝 -->
{{>/layout/footer}}

