{{>/layout/header}}
    <!-- 리스트 박스 시작 -->
    <div class="container mt-3">
        <table class="table table-striped">
          <!-- 테이블 메뉴 시작 -->
          <thead>
            <tr>
              <th>병원명</th>
              <th>주소</th>
              <th>PCR 가능 여부</th>
              <th>신속항원검사 가능여부</th>
              <th>상세보기</th>
            </tr>
          </thead>
          <!-- 테이블 메뉴 끝 -->
          <!-- 테이블 내용 시작 -->
          <tbody>
              {{#hospitals}}
            <tr>
              <td>{{yadmNm}}</td>
              <td>{{addr}}</td>
              <td>{{pcrPsblYn}}</td>
              <td>{{ratPsblYn}}</td>
              <!-- 상세보기 페이지 이동 버튼 시작 -->
              <td>
                  <div class="card-body box_m">
                    <a href="/detail/{{id}}" class="btn btn-ligth">상세보기</a>
                  </div>
              </td>
              <!-- 상세보기 페이지 이동 버튼 끝 -->
            </tr>
            {{/hospitals}}
          </tbody>
        </table>
        <!-- 테이블 내용 끝 -->
      </div>
    <!-- 리스트 박스 끝 -->
{{>/layout/footer}}