{{>/layout/header}}
<div class="mt-5"></div>
    {{#hospitals}}
    <div class="mt-2 bg-light box_m container mx-auto text_m ">
        {{#id}} Id : {{id}}/{{/id}} 
        {{#addr}} 주소:{{addr}}/{{/addr}} 
        {{#yadmNm}} 요양기관명 :{{yadmNm}}/{{/yadmNm}}
        {{#pcrPsblYn}} PCR가능여부 :{{pcrPsblYn}}/{{/pcrPsblYn}}
        {{#ratPsblYn}} RAT가능여부 :{{ratPsblYn}}{{/ratPsblYn}} <br/>
        {{#sidoCdNm}} 시도명 :{{sidoCdNm}}/{{/sidoCdNm}} 
        {{#sgguCdNm}} 시군구명 :{{sgguCdNm}}/{{/sgguCdNm}}
        {{#recuClCd}} 요양종별코드 :{{recuClCd}}/{{/recuClCd}} 
        {{#mgtStaDd}} 운영시작일자 :{{mgtStaDd}}{{/mgtStaDd}} <br/>
        {{#ykihoEnc}} ykihoEnc :{{ykihoEnc}}{{/ykihoEnc}}
        {{#xposWgs84}} xposWgs84 : {{xposWgs84}}{{/xposWgs84}}
        {{#yposWgs84}} yposWgs84 :{{yposWgs84}}{{/yposWgs84}}
        {{#xpos}} xpos :{{xpos}}{{/xpos}}
        {{#ypos}} ypos :{{ypos}}{{/ypos}}
    </div>
    {{/hospitals}}

{{>/layout/footer}}